var migration_config = {};

migration_config.keystone_host = 'localhost';
migration_config.keystone_port = 5000;
migration_config.keystone_token = '';

// generated during the database population
migration_config.idm_provider_role_id = '';

migration_config.debug = false;

migration_config.admin_users = [];

migration_config.duplicated_users = [];

migration_config.problematic_orgs = [];

module.exports = migration_config;